button{
    background-color: transparent;
    border: 2px solid black;
}

h1{
    font-family: 'Nanum Myeongjo',sans-serif;
}

p{
    font-family: 'PT Sans',sans-serif;
}

h1,p{
    color: blanchedalmond;
}

h2{
    font-family: 'Dancing Script',cursive;
}
